.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container h1{
    border-radius: 15px;
    margin: 30px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid black;
}

form{
    border-radius: 15px;
    margin: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

label{
    font-size: 15px;
    font-weight: 500;
    margin: 5px;
}

.inputfield{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-family: monospace;
    font-weight: 100;
}

button{
    width: 70px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: auto;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(87, 86, 86);
    color: white;
}